
.sombra{
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.26);
}
.bg-nav{
    background: #282828;
}
.main-container {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow:hidden;
 }
 .footer {
  height: 50px;
  text-align: center;
} 